<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Identity.Client" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.47.2.0" newVersion="4.47.2.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35"
                                  culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.24.0.0" newVersion="6.24.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a"
                                  culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51"
                                  culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <!-- <appSettings> -->
    <!--     <add key="ConnectionString" -->
    <!--          value="Server=DESKTOP-8PPMB1T;Database=ConsultantaFinanciara;Integrated Security=true; -->
    <!--      TrustServerCertificate=true;" /> -->
    <!--     <add key="SelectFromParent" value="SELECT * FROM Client;" /> -->
    <!--     <add key="SelectFromChild" value="SELECT * FROM Meeting" /> -->
    <!--     <add key="Parent" value="Client" /> -->
    <!--     <add key="Child" value="Meeting" /> -->
    <!--     <add key="ForeignKey" value="FK_Client_Meeting" /> -->
    <!--     <add key="DeleteAction" -->
    <!--          value="DELETE FROM Meeting WHERE cod_c = @cod_c AND cod_i = @cod_i AND etapa = @etapa" /> -->
    <!--     <add key="DeleteParameters" value="@cod_i,@cod_c,@etapa" /> -->
    <!--     <add key="DeleteTypes" value="int,int,string" /> -->
    <!--     <add key="DeleteMessage" value="Meeting deleted successfully!" /> -->
    <!--     <add key="InsertAction" -->
    <!--          value="INSERT INTO Meeting(cod_i, cod_c, etapa) VALUES(@cod_i, @cod_c, @etapa)" /> -->
    <!--     <add key="InsertParameters" value="@cod_i,@cod_c,@etapa" /> -->
    <!--     <add key="InsertTypes" value="random,int,stringI" /> -->
    <!--     <add key="InsertMessage" value="Meeting added successfully!" /> -->
    <!--     <add key="UpdateAction" -->
    <!--         value="UPDATE Meeting SET etapa = @etapa WHERE cod_c = @cod_c AND cod_i = @cod_i"/> -->
    <!--     <add key="UpdateParameters" value="@cod_i,@cod_c,@etapa" /> -->
    <!--     <add key="UpdateTypes" value="int,int,stringU" /> -->
    <!--     <add key="UpdateMessage" value="Meeting updated successfully!" /> -->
    <!--     <add key="labelText" value="Tip meeting"/> -->
    <!--     <add key="Key" value="cod_c"/> -->
    <!-- </appSettings> -->
    <appSettings>
        <add key="ConnectionString"
                 value="Server=DESKTOP-8PPMB1T;Database=ConsultantaFinanciara;Integrated Security=true;
              TrustServerCertificate=true;" />
        <add key="SelectFromParent" value="SELECT * FROM Client;" />
        <add key="SelectFromChild" value="SELECT * FROM Note" />
        <add key="Parent" value="Client" />
        <add key="Child" value="Note" />
        <add key="ForeignKey" value="FK_Client_Note" />
        <add key="DeleteAction"
             value="DELETE FROM Note WHERE cod_c = @cod_c AND cod_i = @cod_i AND nota = @value" />
        <add key="DeleteParameters" value="@cod_i,@cod_c,@value" />
        <add key="DeleteTypes" value="int,int,int" />
        <add key="DeleteMessage" value="Note deleted successfully!" />
        <add key="InsertAction"
             value="INSERT INTO Note(cod_i, cod_c, nota) VALUES(@cod_i, @cod_c, @value)" />
        <add key="InsertParameters" value="@cod_i,@cod_c,@value" />
        <add key="InsertTypes" value="random,int,intI" />
        <add key="InsertMessage" value="Note added successfully!" />
        <add key="UpdateAction"
            value="UPDATE Note SET nota = @value WHERE cod_c = @cod_c AND cod_i = @cod_i"/>
        <add key="UpdateParameters" value="@cod_i,@cod_c,@value" />
        <add key="UpdateTypes" value="int,int,intU" />
        <add key="UpdateMessage" value="Note updated successfully!" />
        <add key="labelText" value="Note" />
        <add key="Key" value="cod_c"/>
    </appSettings>
    </configuration>