body {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    height: 100px;
    width: 100vw;
}

.main {
    display: flex;
    flex-direction: column;

    width: 100vw;
    min-height: calc(100vh - 165px);
    max-height: max-content;
}

.main .content {
    background-color: gold;
    min-height: calc(100vh - 185px);
    max-height: max-content;
    padding: 0;
    margin: 0;
    font-size: 30px;
}

nav {
    background-color: violet;
    height: 25px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin: 0;
}

nav a {
    padding: 0 1em;
    color: #333;
    text-decoration: none;
    font-size: 1.2em;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    bottom: 0;
    height: 60px;
}